<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>How to Play | Plastic Hero</title>
  </head>
  <body class="bg-[url('static/image/bg1.jpg')] bg-cover bg-center">
    <section class="h-screen">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="htp-container bg-white/90 h-[80%] w-[70%] rounded-2xl">
          <div class="htp-title text-center font-bold text-4xl text-transparent bg-clip-text bg-gradient-to-br from-blue-500 to-purple-600 mb-5 p-2">How to Play</div>
          <div class="htp-content mb-2 p-4 font-semibold">
            <div class="htp-step">1. Level divided into three parts, easy, medium, and hard</div>
            <div class="htp-step">2. Player can collect many stars and scores to compete with the leaderboard</div>
            <div class="htp-step">3. No matter how many times player finished the level, it still adds the total scores</div>
            <div class="htp-step"><br>Notes: Recommended for children aged 9-12</div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
