<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Leaderboard | Plastic Hero</title>
  </head>
  <body class="bg-[url('static/image/new_4.jpg')] bg-cover">
    <div class="flex">
      <div class="sidebar-container flex-none w-80 h-screen bg-black/25 pr-32 pl-10">
        <div class="profile">
          <img src="static/image/profil.jpg" class="rounded-full h-50 w-50 mt-6 mb-5 ml-10" />
          <a class="text-4xl font-semibold text-white">Hello, {{username}}!</a><br /><br />
          <a class="text-white">Score&emsp;&emsp; : {{score_total}}</a><br />
          <a class="text-white">Stars 🌟&emsp;: {{stars_count}}</a>
        </div>
        <div class="navigation mt-10">
          <div class="nav-item bg-blue-500 p-2 rounded-xl text-white w-60 text-center mb-4 hover:cursor-pointer hover:bg-blue-900" onclick="location.href='./dashboard';">Home</div>
          <div class="nav-item bg-blue-500 p-2 rounded-xl text-white w-60 text-center mb-4 hover:cursor-pointer hover:bg-blue-900" onclick="location.href='./info';">Info about plastic</div>
          <div class="nav-item bg-blue-500 p-2 rounded-xl text-white w-60 text-center mb-4 hover:cursor-pointer hover:bg-blue-900" onclick="location.href='./guide';">How to Play</div>
          <div class="nav-item bg-blue-500 p-2 rounded-xl text-white w-60 text-center mb-4 hover:cursor-pointer hover:bg-blue-900" onclick="location.href='./leaderboard';">Leaderboard</div>
          <div class="nav-item bg-blue-500 p-2 rounded-xl text-white w-60 text-center mb-4 hover:cursor-pointer hover:bg-blue-900" onclick="location.href='./logout';">Logout</div>
        </div>
      </div>
      <div class="content-container flex-initial w-full mx-4">
        <div class="title text-center text-5xl font-semibold text-blue-700 mt-16">Plastic Education Game Leaderboard</div>
        <div class="leader-list grid grid-rows-2 gap-16 text-center mt-20">
          <div class="leader-card-top flex gap-5 justify-around">
            <div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 1</div>
              <div class="username text-orange-300 font-semibold text-lg">Mufat</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">2000</div>
            </div>
            <div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 2</div>
              <div class="username text-orange-300 font-semibold text-lg">Jaelani</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">1800</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 3</div>
              <div class="username text-orange-300 font-semibold text-lg">Heri</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">1600</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 4</div>
              <div class="username text-orange-300 font-semibold text-lg">Ridwan</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">1400</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 5</div>
              <div class="username text-orange-300 font-semibold text-lg">Hero</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">1200</div>
            </div>
          </div>
          <div class="leader-card-bot leader-card-top flex gap-5 justify-around">
            <div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 6</div>
              <div class="username text-orange-300 font-semibold text-lg">Jamal</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">1000</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 7</div>
              <div class="username text-orange-300 font-semibold text-lg">Amir</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">800</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 8</div>
              <div class="username text-orange-300 font-semibold text-lg">Ulul</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">600</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 9</div>
              <div class="username text-orange-300 font-semibold text-lg">Jonge</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">400</div>
            </div><div class="leader-card flex-col bg-white/90 p-3 rounded-md text-center justify-items-center">
              <div class="profile"><img src="static/image/profil.jpg" class="rounded-full h-16 w-16 m-auto mb-4" alt="" /></div>
              <div class="number bg-orange-300 text-white rounded-xl font-bold text-lg p-2">Rank 10</div>
              <div class="username text-orange-300 font-semibold text-lg">Awe</div>
              <div class="score bg-orange-300 text-white rounded-lg font-bold text-lg p-1">200</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
