<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PlasticInfo | Plastic Hero</title>
  </head>
  <body class="bg-[url('../static/image/bg1.jpg')] bg-cover bg-center">
    <section class="h-screen">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="blog-container bg-white/90 h-[80%] w-[70%] rounded rounded-3xl">
          <div class="blog-title text-center font-bold text-4xl text-transparent bg-clip-text bg-gradient-to-br from-blue-500 to-purple-600 mb-10 p-2">Type of Plastic</div>
          <div class="blog-content p-4 font-semibold">As we know, plastic is the material we use the most because it has so many benefits. We can carry things using plastic, storing water inside plastic bottle, and many more. But the thing is, did you know that there are many types of plastic?</div>
          <div class="blog-image"><img src="../static/image/type.png" alt="" class="p-5 rounded-xl h-96 mx-auto" /></div>
          <div class="blog-src text-center text-xs mb-3 hover:text-cyan-600"><a href="https://parahyangan.co.id/2022/04/15/7-jenis-plastik-dari-pet-hdpe-pvc-ldpe-pp-dan-macam-lainnya/">Source: https://parahyangan.co.id/2022/04/15/7-jenis-plastik-dari-pet-hdpe-pvc-ldpe-pp-dan-macam-lainnya/</a></div>
        </div>
      </div>
    </section>
  </body>
</html>
