<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Welcome | Plastic Hero</title>
  </head>
  <body class="bg-[url('../static/image/bg2.jpg')] md:bg-cover md:bg-fixed bg-cover bg-center">
    <section class="h-screen flex items-center justify-center">
      <div class="welcome">
        <div class="welcome-text text-center rounded-xl p-10">
          <h1 class="text-4xl text-white font-semibold">Welcome!</h1>
          <h2 class="text-6xl text-white font-bold drop-shadow-2xl">Plastic Hero</h2>
          <a class="text-2xl text-white drop-shadow">Educational game to increase plastic waste awareness!</a>
          <div class="start text-center mt-7">
            <a class="bg-white px-4 py-2 rounded-md text-black hover:cursor-pointer" href="./login">Start Game!</a>
          </div>
        </div>
        <br />
      </div>
    </section>
  </body>
</html>
